.top {
	background-image:url(../../images/skin_tall/skin_graphite/tall_header.png);
	width:164px;
	height:23px;
}

.header {
	color:#939DB9;
}

.draghandlenewpos {
	background-image:url(../../images/skin_tall/skin_graphite/tall_dragnewposition.png);
}

.graphbar {
	background-image:url(../../images/common/bar_horizontal_graphite.png);
	width:80px;
	height:8px;
}

.verticalbar {
	background-image:url(../../images/common/bar_vertical_graphite.png);
	width:8px;	
}