.top {
	background-image:url(../../images/skin_tall/skin_purple/tall_header.png);
	width:164px;
	height:23px;
}

.header {
	color:#7700d2;
}

.draghandlenewpos {
	background-image:url(../../images/skin_tall/skin_purple/tall_dragnewposition.png);
}

.graphbar {
	background-image:url(../../images/common/bar_horizontal_purple.png);
	width:80px;
	height:8px;
}

.verticalbar {
	background-image:url(../../images/common/bar_vertical_purple.png);
	width:8px;	
}